<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户信息管理</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">用户信息</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">用户列表</h6>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/book/admin-index}">返回主页</a>
                            <div class="table-responsive">
                                <div align="right">
                                    <form th:action="@{/user/admin-find}" method="post">
                                        查找:<input type="text" name="text">
                                        <input type="submit" class="btn btn-primary" value="搜索">
                                    </form>
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>用户名</th>
                                            <th>用户密码</th>
                                            <th>用户类型</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user,status:${allUsers}"  class="mytraaaa" >
                                            <td th:text="${user.zbdid}" th:name="zbdid"></td>
                                            <td th:text="${user.zbduserName}"></td>
                                            <td th:text="${user.zbdpassword}"></td>
                                            <td th:text="${user.zbdstatus}"></td>
                                            <td>
                                                <button  th:value="${status.count}"  th:onclick="|javascript:Values('${user.zbdid}')|" type="button" class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#modal">
                                                 <span class="icon text-white-50">
                                                <i class="fas fa-info-circle"></i>
                                                </span>
                                                    <span class="text">修改</span>
                                                </button>
                                                &nbsp;&nbsp;
                                                <a th:href="@{/user/del(zbdid=${user.zbdid})}" class="btn btn-danger btn-icon-split">
                                                    <span class="icon text-white-50">
                                                    <i class="fas fa-trash"></i>
                                                    </span>
                                                    <span class="text">删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">用户信息修改</h6>
                        </div>
                        <form class="user" method="post" id="set" th:action="@{/user/set}">
                            <div class="form-group" id="userid">
                                <input  type="hidden" id="id" class="form-control form-control-user1" name="userid">
                            </div>
                            <div class="form-group" id="userName">
                                <input  id="userName1" type="text" class="form-control form-control-user1" name="userName"
                                        placeholder="用户名">
                            </div>
                            <div class="form-group" id="password">
                                <input id="password1" type="password" class="form-control form-control-user" name="password"
                                       placeholder="密码">
                            </div>
                            <div class="form-group" id="status">
                                <input id="status1" type="text" class="form-control form-control-user" name="userStatus"
                                       placeholder="用户类型">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" id="save" class="btn btn-primary" >保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal结束 -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 图书管理系统 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="/js/demo/datatables-demo.js"></script>-->

</body>
<script>

    function Values(ID){
        $("#id").val(ID);
    }

    // function edit(data){
    //
    //     var index=data.getAttribute("value"); //索引
    //     var obj=document.getElementsByTagName("tbody")[0];
    //     var data01=obj.getElementsByTagName('tr')[index-1].getElementsByTagName('td')[0].innerHTML;
    //     var data02=obj.getElementsByTagName('tr')[index-1].getElementsByTagName('td')[1].innerHTML;
    //     var data03=obj.getElementsByTagName('tr')[index-1].getElementsByTagName('td')[2].innerHTML;
    //     var data04=obj.getElementsByTagName('tr')[index-1].getElementsByTagName('td')[3].innerHTML;
    //     // console.log(data01)
    //     // console.log(data02)
    //     // console.log(data03)
    //     // console.log(data04)
    //     $('#modal').modal("show");
    //     document.getElementById("userName").getElementsByTagName("input")[0].value=data02;
    //     document.getElementById("password").getElementsByTagName("input")[0].value=data03;
    //     document.getElementById("status").getElementsByTagName("input")[0].value=data04;
    // }


    // $("#save").on("click",function (){
    //
    //     var id = bj.getElementsByTagName('tr')[index-1].getElementsByTagName('td')[0].innerHTML;
    //     var userName = $("#userName1").val()
    //     var password = $("#password1").val()
    //     var status = $("#status1").val()
    //
    //     $.post({
    //        url:"http://localhost:8080/user/set",
    //         data :{
    //             id,
    //             userName,
    //             password,
    //             status
    //         },
    //         dataType : "json",
    //         success:function (data){
    //            alert(data.toString())
    //            if (data.toString() == "更新成功！"){
    //                window.location="http://localhost:8080/user/admin-table";
    //            }
    //         }
    //     });
    // })

</script>
</html>